@import "abstracts";
body{
  width: 100%;
  margin: 0 auto;
}
@font-face {
  font-family: MontserratBold;
  src: url("../fonts/Montserrat-Bold.otf");
}
@font-face {
  font-family: Hind;
  src: url("../fonts/hind-regular.otf");
}
@font-face {
  font-family: MyriadPro;
  src: url("../fonts/Myriad Pro Regular.ttf");
}
  .header-nav {
    width: 100%;
    height: auto;
    background-color: #212429;
    .header-nav-content{
      position: relative;
      width: 94%;
      margin-left: 3%;
      @include flex-center;
      .icon{
        height: 100%;
        padding-bottom: 2%;
        padding-top: 2%;
        flex-grow: 1;
        @include flex-center;
        border-left: 0.1px solid #3c3c3c;
      }
      .icon-tweet:hover{
        background: url("../image/home_page/tweet3.png") center no-repeat !important;
      }
      .icon-search:hover{
        border-left: none;
        .input-search{
          display: block !important;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out;
        }
      }
      .deco{
        position: absolute;
        left: 45%;
        font-size: 1em;
        letter-spacing: 4px;
        line-height: 30px;
        color: #fefefe;
        font-family: "Hind";
        font-weight: bold;
        padding-bottom: 1%;
        padding-top: 1%;
      }
      .space{
        flex-grow: 24;
        @include flex-center;
      }
      .icon:first-child{
        border-right: 0.1px solid #3c3c3c;
      }
      .icon:last-child {
        border-right: 0.1px solid #3c3c3c;
      }
    }
  }
.header-content{
  position: relative;
   width: 100%;
   height: auto;
   background: linear-gradient(to bottom, #212429 50%, #212429 50%,#f9f9fb 50%,#f9f9fb 100%);
  .header-image{
    margin-left: 3%;
    width: 94%;
    height: auto;
    img{
      width: 100%;
      height: auto;
    }
    }
    :nth-child(2),:nth-child(3){
    display: none;
    }
}
.prev,.next,.feature{
  position: absolute;
}
.feature{
  font-size: 0.75rem;
  color: white;
  font-family: MontserratBold;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
//.slide-show{
//  @include flex-column;
//  position: absolute;
//  right: 7%;
//  top: 30%;
//}
.dot-container{
  position: absolute;
  @include flex-column;
  top: 38%;
  right:9% ;
 .dot{
   margin-bottom: 100%;
  width: 7px;
  height: 7px;
  border: 0.5px solid white;
  }
  .dot:hover{
    background-color: gray;
  }

}
.prev{
  right: 7%;
  top: 55%;
}
.next{
  right: 7%;
  top: 25%;
}
.feature{
  right: 33px;
  top: 40%;
}
.active{
  background-color: gray;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.signup-container{
  background-color: #f9f9fb;
  .signup {
    background-color: #eeebeb;
    width: 94%;
    margin-left: 3%;
    height: auto;
    .signupcontent{
      @include flex-around-center;
      padding-top: 1%;
      padding-bottom: 1%;
      .signuptitle {
        font-size: 20px;
        width:15% ;
        line-height: 28px;
        color: #212121;
        letter-spacing: 4px;
        font-family: MyriadPro;
        font-weight: bold;
      }
      .signupname{
        font-size: 20px;
        width: 25%;
        input{
          border: none;
          padding-top: 3%;
          padding-bottom: 3%;
          padding-left: 5%;
          width: 100%;
        }
      }
      .signupemail{
        font-size: 20px;
        width: 25%;
        input{
          border: none;
          padding-top: 3%;
          padding-bottom: 3%;
          padding-left: 5%;
          width: 100%;
        }
      }
      .signupbutton{
        //font-size: 20px;
        width: 15%;
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 24px;
        color: #ffffff;
        font-family: Hind;
        button{
          border: none;
          padding-top: 5%;
          padding-bottom: 5%;
          padding-left: 5%;
          background-color: $subscribe-color;
          color: white;
          width: 100%;
        }
      }
    }
  }
}
.img-post{
  width: 100%;
  height: auto;
}
.matop6{
  margin-top:6% ;
}
.container{
  background-color: #f9f9fb;
  width: 100%;
  height: auto;
  padding-bottom: 3%;
  .container-content{
    padding-top: 3%;
    //width: 96%;
    width: 94%;
    height: 100%;
    //margin-left: 3%;
     margin: auto;
     @include flex-between;
    .grid:after {
      content: '';
      display: block;
      clear: both;
    }
    .grid {
      //column-count: 4;
      ////column-gap: 1em;

      .grid-sizer,
      .grid-item {

        width: 23.5%;
      }

      .grid-item {
        position: relative;
        float: left;
        margin-bottom: 2%;
        word-break: break-all;
      }
      .grid-item:hover{
        box-shadow: 2px 2px 2px 2px #888888;
      }
    }
    .column{
      @include flex-row;
      width: 23.5%;
      height: auto;
    }
    .center{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    .content-icon-black{
      //margin-left: 45%;
      margin-top: -6%;
      padding: 3%;
      background-color: black;
    }
    .content-icon-white{
      //margin-left: 45%;
      margin-top: -6%;
      padding: 3%;
      background-color: white;
    }
    .social-media{
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
      border-top: 0.75px solid #999999;
      @include flex-around;
      align-items: baseline;
      .social-icon{
        flex-grow: 1;
      }
      .social-icon:first-child{
        flex-grow: 0.5;
      }
      .comments{
        flex-grow: 1.5;
      }
      .space1{
        flex-grow: 1.5;
      }
    }
    .bgwhite{
      background-color: white;
    }
    .bgblack{
      background-color: black;
    }
    .column-content{
      width: 100%;
      margin-bottom: 6%;
    }
    .column-content:hover{
      box-shadow: 0px 0px 20px #888888;
    }
    .read-more-content{
      width: 100%;
      height: 100px;
      @include flex-center;
      .Read-more{
        position: relative;
        padding-left: 2%;
        padding-right: 2%;
        width: 33%;
        text-align: center;
        border-right: 0.2px solid #888888;
        border-left: 0.2px solid #888888;
        font-size: 0.75em;
        letter-spacing: 3px;
        line-height: 24px;
        color: #212121;
        font-family: Hind;
        font-weight: bold;
        cursor: pointer;
      }
      .border-top{
        position: absolute;
        top: 0;
        left: 33%;
        width: 33%;
        background-color: #888888;
      }
      .border-bottom{
        position: absolute;
        bottom: 0;
        left: 33%;
        background-color: #888888;
      }
    }
    .Read-more:hover{
      border-right: none ;
      border-left: none;
      //border-top: 0.2px solid #888888;
      //border-bottom: 0.2px solid #888888;
      color: #999999;
      .border-top{
        width: 33%;
        height: 1px;
      }
      .border-bottom{
        width: 33%;
        height: 1px;
      }
      -webkit-transition: width 2s; /* Safari */
      transition: width 2s;
    }
    .content-category{
      text-align: center;
      @include flex-center-ve;
      font-size: 1em;
      letter-spacing: 1px;
      color: #999999;
      font-family: "Hind";
    }
    .content-title{
      text-align: center;
      @include flex-center-ve;
      font-size: 1em;
      letter-spacing: 1px;
      color: #212121;
      font-family: "MontserratBold";
      font-weight: bold;
    }
    .content-date{
      text-align: center;
      @include flex-center-ve;
      font-size: 1em;
      letter-spacing: 1px;
      color: #999999;
      font-family: "Hind";
    }
    .content-div{
      @include flex-center-ve;
      overflow: hidden;
      text-overflow: ellipsis;
      flex-wrap: wrap;
      flex: 1 0 auto;
      .content{
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        padding-left: 5%;
        padding-right: 5%;
        word-break: break-all;
        font-size: 0.6em;
        letter-spacing: 2px;
        line-height: 28px;
        color: #464646;
        font-family: "Hind";
        font-weight: 300;
        text-align: center;
      }
    }
    .content-white{
      padding-left: 5%;
      padding-right: 5%;
      font-size: 0.75em;
      letter-spacing: 2px;
      line-height: 28px;
      color: #ffffff;
      font-family: "Hind";
      font-weight: 300;
      text-align: center;
      word-break: break-all;
    }
  }
}
.footer{
  background-color: #212429;
  width: 100%;
  height: auto;
  .footer-container{
    @include flex-between;
    width: 94%;
    margin-left: 3%;
    color: white;
    .footer-article{
      padding-top: 5%;
      padding-bottom: 3%;
      width: 23.5%;
      .footer-title{
        padding-bottom: 5%;
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 28px;
        color: #f7f7f7;
        font-family: MontserratBold;
      }
      .footer-content{
        font-size: 0.75em;
        letter-spacing: 2px;
        line-height: 20px;
        color: #ffffff;
        font-family: Hind;
        font-weight: 300;
      }
      .latest-tweets{
        @include flex-row;
        align-items: baseline;
        .tweet-icon{
          width: 5%;
        }
        .tweet-content{
          width: 90%;
        }
      }
    }
  }
}
/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .header-nav{
    .header-nav-content{
      .icon{
        padding-top: 2%;
        padding-bottom: 2%;
      }
      .icon:nth-child(2),.icon:nth-child(3),.icon:nth-child(4),.icon:nth-child(5),.icon:nth-child(6),.icon:nth-child(7){
        display: none;
      }
    }
  }
  .signup{
    .signupcontent{
      flex-wrap: wrap;
      .signuptitle{
        display: none;
      }
      .signupname{
        width: 100%;
        margin-bottom: 3%;
      }
      .signupemail{
        width: 100%;
        margin-bottom: 3%;
      }
      .signupbutton
      {
        width: 100%;
      }
    }
  }
  .container{
    .container-content{
      flex-wrap: wrap;
      .column{
        width: 100%;
        .column-content{
          margin-top: 12%;
          margin-bottom: 0;
        }
      }
    }
  }
  .container{
    .container-content{
      .grid{
        .grid-sizer,.grid-item{
          margin-bottom: 10%;
          width: 100%;
        }
      }
    }
  }
  .footer{
    .footer-container{
      flex-wrap: wrap;
      .footer-article{
        width: 100%;
      }
    }
  }
}
.bgwhite{
  background-color: white;
}
.bgblack{
  background-color: black;
}
/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {
  .header-nav{
    .header-nav-content{
      .icon{
        padding-top: 2%;
        padding-bottom: 2%;
      }
      .icon:nth-child(2),.icon:nth-child(3),.icon:nth-child(4),.icon:nth-child(5),.icon:nth-child(6),.icon:nth-child(7){
        display: none;
      }
    }
  }
  .signup{
    .signupcontent{
      flex-wrap: wrap;
      font-size: 18px;
      .signuptitle{
        display: none;
      }
      .signupname{
        width: 35%;
      }
      .signupemail{
        width: 35%;
      }
      .signupbutton
      {
        width: 20%;
      }
    }
  }
  .container{
    .container-content{
      flex-wrap: wrap;
      .column{
        width: 48%;
      }
    }
  }
  .container{
    .container-content{
      width: 95%;
      .grid{
        .grid-sizer,.grid-item{
          margin-bottom: 8%;
          width: 48.5%;
        }
      }
    }
  }
  .footer{
    .footer-container{
      flex-wrap: wrap;
      .footer-article{
        width: 48%;
      }
    }
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) and (max-width: 1028px) {
  .container{
    .container-content{
      width: 95%;
      .grid{
        .grid-sizer,.grid-item{
          margin-bottom: 6%;
          width: 32%;
        }
      }
    }
  }
}